<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<FilesMatch "\.(css|js)$">
	Header set Cache-Control "max-age=864000, public, must-revalidate"
	Header unset Last-Modified
</FilesMatch>