/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/logs/*
/lib/Cake/Console/Templates/skel/tmp/
/vendors
/build
/dist
.DS_Store
/tags
/app/webroot/img/covers
/app/webroot/img/covers/*
/app/webroot/img/stores
/app/webroot/img/stores/*
/app/Config/database.php
/app/Config/config.php