body{background-color:#3366cc;font-family:'Open Sans Condensed',sans-serif;background:#2c539e;background:-moz-radial-gradient(center, ellipse cover, #2c539e 0%, #2c539e 100%);background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2c539e), color-stop(100%, #2c539e));background:-webkit-radial-gradient(center, ellipse cover, #2c539e 0%, #2c539e 100%);background:-o-radial-gradient(center, ellipse cover, #2c539e 0%, #2c539e 100%);background:-ms-radial-gradient(center, ellipse cover, #2c539e 0%, #2c539e 100%);background:radial-gradient(ellipse at center, #2c539e 0%, #2c539e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c539e', endColorstr='#2c539e', GradientType=1);margin-top:0;}
.preview_img{overflow:hidden;margin-bottom:5px;clear:both;}
.preview_img img{width:96%;border:3px solid #000000;}
.thisweek h4,.thisweek h4 a{color:#000000;font-weight:bold;font-size:19px;}
#header{margin-top:0px;background-image:url(/img/bg.png);background-repeat:no-repeat;}
#main-container{margin-top:0;}
.navbar{margin-bottom:0;}
.navbar-inner{background:transparent;border:none;padding-left:10px;border-radius:0;box-shadow:none;}
.navbar .brand{padding:0;}
.item_desc,.item_desc p{color:#78b0e9;overflow:hidden;font-size:14px;}
.btn.disabled{color:#fff;cursor:pointer;}
.preview_block{min-height:400px;max-height:500px;margin-bottom:20px;overflow:hidden;}
.publisher_block{min-height:300px;max-height:400px;margin-bottom:20px;overflow:hidden;}
.my_block{min-height:300px;max-height:400px;margin-bottom:20px;overflow:hidden;}
.filter_box{padding:0 10px 0 0;text-align:right;border-bottom:2px solid #24478f;margin-bottom:15px;overflow:hidden;clear:both;}
.filter_tab{background-color:#24478f;float:right;margin-right:5px;color:#adc2eb;overflow:hidden;padding:2px 10px 0 10px;font-size:14px;margin-top:20px;}
.filter_tab_on{background-color:#1f3d7a;color:#c2d1f0;}
.bread{float:left;margin:0;padding:0;}
.bread h3{color:#ffffff;margin:0;padding:0;font-size:20px;}
.navbar .nav>li>a{text-shadow:0 1px 0 #1f3d7a;}
a:hover{color:#85a3e0 !important;}
a{color:#adc2eb !important;}
.nav{float:right;}
.item_detail,.shop_detail,.generic_body{font-size:20px;color:#78b0e9;}
h2{color:#000 !important;}
.detail_img{border:3px solid #000;}
.creator_type h4,.store_hours h4{color:#fff !important;padding-bottom:2px;margin:5px 0px 0px 0px;}
.store_hours{margin-top:20px;}
.item_description{margin-top:20px;}
.shop_photo img{max-width:60px;overflow:hidden;max-height:60px;border:3px solid #000000;margin:4px 3px 1px 0px;}
.store_main_photo{border:3px solid #000000;}
#gallery{margin-top:10px;}
#footer{margin-bottom:50px;}
.item_grid{margin-top:30px;}
.item_grid_row{margin-bottom:5px;}
.item_grid_lbl{color:#fff;}
.item_detail_img{text-align:center;}
.item_actions{background-color:#24478f;padding:12px;margin-bottom:10px;clear:both;}
.store_search_bar{background-color:#24478f;padding:12px;margin-bottom:10px;clear:both;overflow:hidden;}
.fav_menu a{color:#000 !important;font-size:15px;}
#map-canvas img,#shop-map img{max-width:none;}
#map-canvas,#shop-map{border:3px solid #000000;}
#map-canvas label,#shop-map label{width:auto;display:inline;}
#shop-map{margin-top:10px;height:200px;}
.white-caret{border-top-color:#fff !important;border-bottom-color:#fff !important;}
.store_map_listing{font-size:14px;color:#78b0e9;}
.store_map_listing h5{font-size:17px;color:#fff;margin-bottom:2px;}
.store_map_row{margin-bottom:7px;}
.map_marker{padding-top:12px;}
.btn-on{background-color:#ffaa00 !important;background-image:none !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;border-color:#664400 !important;}
.btn-off{background-color:#213A6B !important;background-image:none !important;color:#fff !important;box-shadow:none !important;text-shadow:none !important;border-color:#213A6B !important;border-color:#1b2f58 !important;opacity:1 !important;}
.btn-custom{background-color:#153d74 !important;background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2365c1", endColorstr="#153c74");background-image:-khtml-gradient(linear, left top, left bottom, from(#2365c1), to(#153c74));background-image:-moz-linear-gradient(top, #2365c1, #153c74);background-image:-ms-linear-gradient(top, #2365c1, #153c74);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2365c1), color-stop(100%, #153c74));background-image:-webkit-linear-gradient(top, #2365c1, #153c74);background-image:-o-linear-gradient(top, #2365c1, #153c74);background-image:linear-gradient(#2365c1, #153c74);border-color:#153c74 #153c74 #123361;color:#fff !important;text-shadow:none !important;-webkit-font-smoothing:antialiased;}
.fav_menu>li>a:hover,.fav_menu>li>a:focus{background-color:#ddd !important;background-image:none;filter:none;}
.item_tags{margin-top:20px;color:#fff;}
.label,.badge{background-color:#000;font-size:16px;padding:5px 10px 5px 10px;}
.pull_list_btn{margin-right:5px;}
#infscr-loading{border:1px solid #152a53;text-align:center;background-color:#3f69bb;padding:10px;color:#fff !important;font-style:normal !important;clear:both;overflow:hidden;margin-top:40px !important;}
#infscr-loading img{text-align:center;}
.infin_txt{font-size:18px;}
.login_block{background-color:#24478f;padding:12px;margin-bottom:10px;clear:both;overflow:hidden;font-size:18px !important;color:#fff;}
.float-left{float:left;}
.float-right{float:right;}
.login_btn{margin-right:40px;}
.fb_login_connect{padding-top:4px;}
.login_ipt{width:97%;}
.login_intro,.login_intro p{color:#78b0e9;font-size:20px;}
.create_account a,.create_account,.create_account:hover{color:#fff !important;font-weight:bold !important;width:70%;}
.footnote{margin-top:40px;color:#547ac4;}
.footnote a{color:#547ac4;}
.publisher_desc,.creator_desc{color:#78b0e9;text-align:left;clear:both;margin-top:20px;font-size:16px;}
.navbar-inner{padding-right:0;}
.navbar .btn-navbar{background-color:#153d74 !important;background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2365c1", endColorstr="#153c74");background-image:-khtml-gradient(linear, left top, left bottom, from(#2365c1), to(#153c74));background-image:-moz-linear-gradient(top, #2365c1, #153c74);background-image:-ms-linear-gradient(top, #2365c1, #153c74);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2365c1), color-stop(100%, #153c74));background-image:-webkit-linear-gradient(top, #2365c1, #153c74);background-image:-o-linear-gradient(top, #2365c1, #153c74);background-image:linear-gradient(#2365c1, #153c74);border-color:#153c74 #153c74 #123361;color:#fff !important;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.29);-webkit-font-smoothing:antialiased;margin-top:35px;margin-right:20px;}
.btn-hgh{margin-left:4px;padding-top:5px !important;padding-bottom:5px !important;}
.element_sideblock{font-size:16px;text-align:left;word-wrap:break-word;line-height:14px;}
.element_sideblock h4{color:#fff;font-size:16px;margin:10px 0 0 0;}
.flash_pos,.flash_neg,.flash_msg{position:fixed;left:0;bottom:0;z-index:50000;width:100%;height:25px;border:none;text-align:center;padding:5px 0 0 0;margin:0;font-weight:normal;font-size:17px;text-transform:capitalize;cursor:pointer;}
.flash_neg{background:rgba(227, 12, 12, 0.9);color:#000;}
.flash_pos,.flash_msg{background:rgba(31, 61, 122, 0.9);color:#fff;}
.loading{font-size:18px;color:#fff;}
.fav_on a{color:red !important;background-color:blue;}
.control-group.error .control-label,.control-group.error .help-block,.control-group.error .help-inline{color:yellow;}
.control-group.error input,.control-group.error select,.control-group.error textarea{border-color:yellow;}
.control-group.error .checkbox,.control-group.error .radio,.control-group.error input,.control-group.error select,.control-group.error textarea{color:#000;}
.creator_collabs{margin-top:20px;}
.creator_collabs li{color:#5d85d3;}
.my_block h5{color:#fff;border-bottom:2px solid #24478f;padding-bottom:6px;font-size:19px;}
.my_block h5 button{float:right;margin-top:-4px;}
.upload_photo .form-actions{background:none;border-top:none;padding-left:0;padding-bottom:0;margin-bottom:0;padding-top:0;}
.full-width{width:98%;}
.photo_upload_block h5{color:#fff;margin-top:10px;font-size:16px;padding-top:0;}
.icon_mnu{margin-top:3px;}
.footcopy{float:left;}
.footlinks{float:right;}
.footlinks a{margin-left:10px;}
.item-by-date-header{margin-top:10px;margin-bottom:10px;}
.item-by-date{overflow:hidden;padding-top:5px;padding-bottom:5px;font-size:1.5em !important;color:#fff;}
.home_hdr{color:#fff;padding:4px 0 6px 8px;margin-bottom:8px;background-image:url(/img/bg.png);background-position:-100px 0;background-repeat:no-repeat;border-bottom:2px solid #24478f;border-left:2px solid #24478f;}
.home_hdr h4{padding:0;margin:0;color:#fff;}
.home_main{padding-bottom:50px;}
.home_main h2 a{color:#000;}
.well{background-color:#24478f;border:1px solid #214183;margin-left:0;}
.well input,.well select,.well textarea{border:1px solid #214183;}
.random_item{margin-bottom:20px;}
.random_item .item_description{color:#fff;line-height:24px;}
.home_blog p{font-size:20px;}
.home_blog,.home_what,.home_thisweek{padding-left:10px;}
.hot_img{max-height:280px;max-width:400px;overflow:hidden;padding-right:10px;}
.hot_grid{max-height:410px;overflow:hidden;min-height:410px;}
.hot_desc{color:#78b0e9;line-height:16px;}
.pad{color:#78b0e9;font-size:18px;}
.pad h3{font-size:20px;color:#fff;}
@media (min-width:768px) and (max-width:979px){}@media (max-width:979px){.preview_img{min-height:160px;max-height:160px;} .preview_img img{width:94%;max-height:160px;} .preview_block{min-height:300px;max-height:410px;} .nav li a:hover{background:none !important;} .bread{float:left;text-align:left;line-height:16px;} .bread h3{line-height:22px;margin:10px 0 10px 0;} .navbar-inner{padding-left:0;} .navbar .brand{margin-left:-10px;} .nav-collapse{background-color:#24478f;}}@media (max-width:767px){.preview_img{float:left;clear:right;width:150px;min-height:inherit;max-height:inherit;padding-right:10px;} .preview_img img{max-height:inherit;} .preview_block{min-height:inherit;max-height:inherit;} .store_search_btn{float:left;} .item_actions{margin-top:10px;} .navbar-inner{padding-right:5px;} .btn-hgh{margin-top:4px;margin-left:0px;} .bread{float:left;text-align:left;} .footnote{clear:both;} .footlinks{clear:both;float:left;} .footlinks a:first-child{margin-left:0;} .hot_img{text-align:center;}}@media (max-width:480px){.btn-hgh{margin-left:0px;} .footnote{clear:both;} .footlinks{clear:both;float:left;} .footlinks a:first-child{margin-left:0;}}@media (min-width:980px){.preview_img{min-height:210px;max-height:210px;} .preview_img img{max-height:200px;} .nav{padding-top:30px;text-align:right !important;float:right !important;} .nav li{text-align:right !important;padding-right:0px !important;} .nav li a{padding-right:0px !important;padding-left:30px !important;} .navbar-inner{padding-right:0px !important;}}@media (min-width:1200px){.preview_img{min-height:230px;max-height:230px;} .preview_img img{max-height:220px;}}
