@media (max-width: 767px) {
	.preview_img {
		float: left;
		clear: right;
		width:150px;
		min-height: inherit;
		max-height: inherit;
		padding-right: 10px;
	}
	
	.preview_img img {
		max-height: inherit;
	}	

	.preview_block {
		min-height: inherit;
		max-height: inherit;
	}
	
	.store_search_btn {
		float: left;	
	}

	.item_actions {
		margin-top: 10px;
	}		
	
	.navbar-inner {
		padding-right: 5px;
	}

	.btn-hgh {
		margin-top: 4px;
		margin-left: 0px;
	}
	
	.bread {
		float: left;
		text-align: left;
	}

	.footnote {
		clear: both;
	}
	
	.footlinks {
		clear: both;
		float: left;
	}
	
	.footlinks a:first-child {
		margin-left: 0;
	}	
	
}