@media (max-width: 480px) {

	.navbar-inner {
		padding-right: 0 !important;
	}

	#header {
		width: auto;
	}

	.btn-hgh {
		margin-left: 0px;
	}
	
	.footnote {
		clear: both;
	}
	.footlinks {
		clear: both;
		float: left;
	}
	
	.footlinks a:first-child {
		margin-left: 0;
	}
	
}