@import "variables.less";
@import "mixins.less";

body {
	background-color: @kapow_blue;
	font-family: 'Open Sans Condensed', sans-serif;
	background: rgb(44,83,158);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 );
	margin-top: 0;
}

.preview_img {
	overflow: hidden;
	margin-bottom: 5px;
	clear: both;
}

.preview_img img {
	width: 96%;
	border: 3px solid darken(@kapow_blue, 90%);
}

.thisweek h4, .thisweek h4 a {
	color: darken(@kapow_blue, 90%);
	font-weight: bold;
	font-size: 19px;
}

#header {
	margin-top: 0px;
	background-image: url(/img/bg.png);
	background-repeat: no-repeat;
}

#main-container {
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
}
.navbar-inner {
	background: transparent;	
	border: none;
	border-radius: 0;
	padding-left: 10px;
	border-radius: 0;
	box-shadow: none;
}
.navbar .brand {
	padding: 0;
}

.item_desc, .item_desc p {
	color: #78b0e9;
	overflow: hidden;
	font-size: 14px;
}

.btn.disabled {
	color: #fff;
	cursor: pointer;
}

.preview_block {
	min-height: 400px;
	max-height: 500px;
	margin-bottom: 20px;
	overflow: hidden;
}
.publisher_block {
	min-height: 300px;
	max-height: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}
.my_block {
	min-height: 300px;
	max-height: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}

.filter_box {
	padding: 0 10px 0 0;
	text-align: right;
/* 	border-top: 2px solid darken(@kapow_blue, 15%); */
	border-bottom: 2px solid darken(@kapow_blue, 15%);
	margin-bottom: 15px;
	overflow: hidden;
	clear: both;
}

.filter_tab {
	background-color: darken(@kapow_blue, 15%);
	float: right;
	margin-right: 5px;
	color: lighten(@kapow_blue, 30%);
	overflow: hidden;
	padding: 2px 10px 0 10px;
	font-size: 14px;
	margin-top: 20px;
}

.filter_tab_on {
	background-color: darken(@kapow_blue, 20%);
	color: lighten(@kapow_blue, 35%);
}

.bread {
	float: left;
	margin: 0;
	padding: 0;
}
.bread h3 {
	color: lighten(@kapow_blue, 60%);
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.navbar .nav>li>a {
	text-shadow: 0 1px 0 darken(@kapow_blue, 20%);
}

a:hover {
	color: lighten(@kapow_blue, 20%) !important;
}

a {
	color: lighten(@kapow_blue, 30%) !important;
}

.nav {
	float: right;
}

.item_detail, .shop_detail {
	font-size: 20px;
	color: #78b0e9;
}

h2 {
	color: #000 !important;
}

.detail_img {
	border: 3px solid #000;
}

.creator_type h4, .store_hours h4 {
	color: #fff !important;
	padding-bottom: 2px;
	margin: 5px 0px 0px 0px;
}

.store_hours {
	margin-top: 20px;
}

.item_description {
	margin-top: 20px;
}

.shop_photo img {
	max-width: 60px;
	overflow: hidden;
	max-height: 60px;
	border: 3px solid darken(@kapow_blue, 90%);
	margin: 4px 3px 1px 0px;
}

.store_main_photo {
	border: 3px solid darken(@kapow_blue, 90%);
}

#gallery {
	margin-top: 10px;
}

#footer {
	margin-bottom: 50px;
}

.item_grid {
	margin-top: 30px;
}

.item_grid_row {
	margin-bottom: 5px;
}

.item_grid_lbl {
	color: #fff;
}

.item_detail_img {
	text-align: center;
}	

.item_actions {
	background-color: darken(@kapow_blue, 15%);
	padding: 12px;	
	margin-bottom: 10px;
	clear: both;
}
.store_search_bar {
	background-color: darken(@kapow_blue, 15%);
	padding: 12px;	
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
}

.fav_menu a {
	color: #000 !important;
	font-size: 15px;
}

#map-canvas img, #shop-map img {
	max-width: none;
}

#map-canvas, #shop-map {
	border: 3px solid darken(@kapow_blue, 90%);
}

#map-canvas label, #shop-map label {
	width: auto; display:inline;
}

#shop-map {
	margin-top: 10px;
	height: 200px;
}

.white-caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.store_map_listing {
	font-size: 14px;	
	color: #78b0e9;
}
.store_map_listing h5 {
	font-size: 17px;
	color: #fff;
	margin-bottom: 2px;
}

.store_map_row {
	margin-bottom: 7px;
}

.map_marker {
	padding-top: 12px;	
}

.btn-custom {
  background-color: hsl(215, 69%, 27%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2365c1", endColorstr="#153c74");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2365c1), to(#153c74));
  background-image: -moz-linear-gradient(top, #2365c1, #153c74);
  background-image: -ms-linear-gradient(top, #2365c1, #153c74);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2365c1), color-stop(100%, #153c74));
  background-image: -webkit-linear-gradient(top, #2365c1, #153c74);
  background-image: -o-linear-gradient(top, #2365c1, #153c74);
  background-image: linear-gradient(#2365c1, #153c74);
  border-color: #153c74 #153c74 hsl(215, 69%, 22.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

.fav_menu > li > a:hover, .fav_menu > li > a:focus {
  background-color: #ddd !important;
  background-image: none;
  filter: none;
}

.item_tags {
	margin-top: 20px;
	color: #fff;
}

.label, .badge {
	background-color: #000;	
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}

.pull_list_btn {
	margin-right: 5px;	
}

#infscr-loading {
	border: 1px solid #152a53;
	text-align: center;
	background-color: #3f69bb;	
	padding: 10px;
	color: #fff !important;
	font-style: normal !important;
	clear: both;
	overflow: hidden;
	margin-top: 40px !important;
}

#infscr-loading img {
	text-align: center;
}
/*
#infscr-loading div {
	display: none !important;
}
*/

.infin_txt {
	font-size: 18px;
}

.login_block {
	background-color: darken(@kapow_blue, 15%);
	padding: 12px;	
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
	font-size: 18px !important;
	color: #fff;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.login_btn {
	margin-right: 40px;
}
.fb_login_connect {
	padding-top: 4px;
	
}

.login_ipt {
	width: 97%;
}

.login_intro, .login_intro p {
	color: #78b0e9;
	font-size: 20px;
}

.create_account a, .create_account, .create_account:hover {
	color: #fff !important;
	font-weight: bold !important;
	width: 70%;
}

.footnote {
	margin-top: 40px;
	color: #547ac4;
}
.footnote a {
	color: #547ac4;
}

.publisher_desc, .creator_desc {
	color: #78b0e9;
	text-align: left;
	clear: both;
	margin-top: 20px;	
	font-size: 16px;
}

.navbar-inner {
	padding-right: 0;
}

.navbar .btn-navbar {
  background-color: hsl(215, 69%, 27%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2365c1", endColorstr="#153c74");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2365c1), to(#153c74));
  background-image: -moz-linear-gradient(top, #2365c1, #153c74);
  background-image: -ms-linear-gradient(top, #2365c1, #153c74);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2365c1), color-stop(100%, #153c74));
  background-image: -webkit-linear-gradient(top, #2365c1, #153c74);
  background-image: -o-linear-gradient(top, #2365c1, #153c74);
  background-image: linear-gradient(#2365c1, #153c74);
  border-color: #153c74 #153c74 hsl(215, 69%, 22.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
  margin-top: 35px;
  margin-right: 20px;
}

.btn-hgh {
	margin-left: 4px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.element_sideblock {
	font-size: 16px;
	text-align: left;
}
.element_sideblock h4 {
	color: #fff;
	font-size: 16px;
	margin: 10px 0 0 0;
}

.flash_pos, .flash_neg, .flash_msg {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 50000;
	width: 100%;
	height: 25px;
	border: none;
	text-align:center;
	padding: 5px 0 0 0;
	margin: 0;
	font-weight: normal;
	font-size: 17px;
	text-transform:capitalize;
	cursor: pointer;
}

.flash_neg {
	background: fade(@kapow_red, 90%);
	color:#000;
}
   	
.flash_pos, .flash_msg {
	background: fade(darken(@kapow_blue, 20%), 90%);
	color: #fff;
}

.loading {
	font-size: 18px;
	color: #fff;
}

.fav_on a {
	color: red !important;
	background-color: blue;
}

.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
	color: yellow;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
	border-color: yellow;
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
	color: #000;
}

.creator_collabs li {
	color: #5d85d3;
}

.my_block h5 {
	color: #fff;
	border-bottom: 2px solid darken(@kapow_blue, 15%);
	padding-bottom: 6px;
	font-size: 19px;
}
.my_block h5 button {
	float: right;
	margin-top: -4px;
}
   	
@import "media_min768max979.less";
@import "media_max979.less";
@import "media_max767.less";
@import "media_max480.less";
@import "media_min980.less";
@import "media_min1200.less";