@media (max-width: 767px) {

	#header {
		width: auto;
	}
	
	.navbar-inner {
		padding-right: 0 !important;
	}

	.preview_img {
		float: left;
		clear: right;
		width:150px;
		min-height: inherit;
		max-height: inherit;
		padding-right: 10px;
	}
	
	.preview_img img {
		max-height: inherit;
	}	

	.preview_block {
		min-height: inherit;
		max-height: inherit;
		clear: both;
	}
	
	.store_search_btn {
		float: left;	
	}

	.item_actions {
		margin-top: 10px;
	}		
	
	.navbar-inner {
		padding-right: 5px;
	}

	.btn-hgh {
		margin-top: 4px;
		margin-left: 0px;
	}
	
	.bread {
		float: left;
		text-align: left;
	}

	.footnote {
		clear: both;
	}
	
	.footlinks {
		clear: both;
		float: left;
	}
	
	.footlinks a:first-child {
		margin-left: 0;
	}	

	.hot_img {
		text-align: center;
	}

	.profile_edit_block h3 {
		margin-left: 0;
	}

	.item_blck {
		min-height: 190px !important;
		max-height: 260px !important;
		height: auto !important;
	}


.search_row .search_img {
	border: none;
	margin-bottom: 10px;
	text-align: center;
	display: block;
	max-height: 150px;
	border-bottom: 2px solid darken(@kapow_blue, 20%);
}

.search_row .search_img img {
	border: 2px solid darken(@kapow_blue, 20%);
	max-width: 98%;
}

.search_row h3 {
	margin-top: 0;
	padding-top: 0;
	line-height: 22px;
}

.search_row {
	min-height: none;
	max-height: none;
	overflow: auto;
	margin-bottom: 10px;
}

.search_row .desc {
	max-height: 100px;
	overflow: hidden;
}

	
}