@import "variables.less";
@import "mixins.less";

@import (inline) "../css/bootstrap.min.css";
@import (inline) "../css/bootstrap-responsive.min.css";
@import "color.less";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// document element definitions ////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

* {
	font-family: 'Open Sans Condensed', sans-serif !important;
}

HTML, BODY {
	height: 100%;
}

BODY {
	margin: 0;
	font-size: 13px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

LI A.pull_list_btn {
	margin-right: 0 !important;
}

P {
	font-size: 16px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// id definitions //////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#footer {
	padding-bottom: 50px;
	clear: both;
}

#gallery {
	margin-top: 10px;
}

#header {
	margin-top: 0px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#hotness { 
	width: 75%; 
	margin-left: auto; 
	margin-right: auto; 
}

#infscr-loading {
}

#infscr-loading img {
}

#main-container {
	margin-top: 0;
	height: 100%;
}

#map-canvas img, #shop-map img {
	max-width: none;
}

#map-canvas label, #shop-map label {
	width: auto; display:inline;
}

#page-container{
	margin-bottom: 20px;
}

#setusername_frm input {
	margin-bottom: 0;
}

#setusername_frm .form-actions {
	border-top: none;
	margin: 0;
	padding: 0;
}

#shop-map {
	margin-top: 10px;
	height: 200px;
}

#storeList {
	display: block;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// class definitions ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.arrow_right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid green;
}

.badge {
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}

.blog_date {
	clear: both;
	margin-top: 20px;
}

.bread {
	float: left;
	margin: 0;
	padding: 0;
}

.bread h3 {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.bread i {
	margin-top: 7px;
}

.btn.disabled {
	cursor: pointer;
}

.btn-custom {
	background-repeat: repeat-x;
	text-shadow: none !important;	
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
}

.btn-hgh {
	margin-left: 4px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.btn-lrgr {
	font-size: 14px;
}

.btn-lrgr i {
	margin-top: 3px;
}

.btn-on {
	box-shadow: none !important;
	text-shadow: none !important;	
}

.btn-off {
	box-shadow: none !important;
	text-shadow: none !important;	
	opacity: 1 !important;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.create_account a, .create_account, .create_account:hover {
	font-weight: bold !important;
	width: 70%;
}

.creator_collabs {
	margin-top: 20px;
}

.creator_desc {
	text-align: left;
	clear: both;
	font-size: 16px;
	margin-top: 10px;	
}

.creator_name {
	text-align: left;
	clear: both;
	margin-top: 20px;	
	font-size: 20px;
}

.creator_type h4, .store_hours h4 {
	padding-bottom: 2px;
	margin: 5px 0px 0px 0px;
}

.element_sideblock {
	font-size: 16px;
	text-align: left;
	word-wrap: break-word;
	line-height: 14px;
}

.element_sideblock h4 {
	font-size: 16px;
	margin: 10px 0 0 0;
}

.fav_menu a {
	font-size: 15px;
	padding-left: 10px !important;
}

.fb_login_connect {
	padding-top: 4px;
}

.filter_box {
	padding: 0 10px 0 0;
	text-align: right;
	margin-bottom: 15px;
	overflow: hidden;
	clear: both;
}

.filter_tab {
	float: right;
	margin: 20px 5px auto auto;
	overflow: hidden;
	padding: 2px 10px 0 10px;
	font-size: 14px;
}

.flash_pos, .flash_neg, .flash_msg {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 50000;
	width: 100%;
	height: 25px;
	border: none;
	text-align: center;
	padding: 5px 0 0 0;
	margin: 0;
	font-weight: normal;
	font-size: 17px;
	text-transform: capitalize;
	cursor: pointer;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.footcopy {
	float: left;
}

.footlinks {
	float: right;
}

.footlinks a {
	margin-left: 10px;
}

.footnote {
	margin-top: 40px;
}

.full-width {
	width: 98%;
}

.home_blog p, .home_what, .home_what p {
	font-size: 18px;
}

.home_blog, .home_what, .home_thisweek {
	padding-left: 10px;	
}

.home_hdr {
	padding: 4px 0 6px 8px;
	margin-bottom: 8px;
	background-position: -100px 0;
	background-repeat: no-repeat;
}

.home_hdr h4 {
	padding: 0;
	margin: 0;
}

.home_main {
	padding-bottom: 50px;
}

.hot_desc {
	line-height: 16px;
}

.hot_grid {
	max-height: 404px;
	overflow: hidden;
	min-height: 404px;
}

.hot_img {
	max-height: 280px;
	max-width: 400px;	
	overflow: hidden;
	padding-right: 10px;
}

.icon_mnu {
	margin-top: 3px;	
	margin-left: 0;
	padding-left: 0;
}  

.icon-white {
	margin-top: 3px;
}

.infin_txt {
	font-size: 18px;
}

.item_actions {
	padding: 12px;	
	margin-bottom: 10px;
	clear: both;
}

.item_blck {
	height: 260px;
	overflow: hidden;
}

.item-by-date {
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.5em !important;
}

.item-by-date-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.item_desc, .item_desc p {
	overflow: hidden;
	font-size: 14px;
}

.item_description {
	margin-top: 20px;
}

.item_detail, .shop_detail, .generic_body {
	font-size: 20px;
}

.item_detail_img {
	text-align: center;
}	

.item_grid {
	margin-top: 30px;
}

.item_grid_row {
	margin-bottom: 5px;
}

.item_tags {
	margin-top: 20px;
}

.label {
	font-size: 12px;
	font-weight: normal;
	margin: 3px 3px 0 0;
	padding: 5px 10px 5px 10px;
}

.label .icon-white {
	margin-top: 1px;
}

.loading {
	font-size: 18px;
}

.login_block {
	padding: 12px;	
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
	font-size: 18px !important;
}

.login_btn {
	margin-right: 40px;
}

.login_intro, .login_intro p {
	font-size: 20px;
}

.login_ipt {
	width: 97%;
}

.map_marker {
	padding-top: 12px;	
}

.my_block {
	min-height: 300px;
	max-height: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}

.my_block h5 {
	padding-bottom: 6px;
	font-size: 19px;
}

.my_block h5 a {
	float: right;
	margin-top: -4px;
}

.nav {
	float: right;
}

.navbar {
	margin-bottom: 0;
}

.navbar .brand {
	padding: 0 0 0 10px;
}

.navbar .btn-navbar {
  background-repeat: repeat-x;
  -webkit-font-smoothing: antialiased;
  margin-top: 35px;
  margin-right: 20px;
}

.navbar .nav > li > a {
  font-size: 24px;
}

.navbar-inner {
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
}

.no_items {
	font-size: 16px;
	padding: 10px;	
}

.pad {
	font-size: 18px;
}
.pad h3 {
	font-size: 20px;
}

.pad_it {
	padding: 10px;
}

.pagination ul>li>a, .pagination ul>li>span {
	float: left;
	padding: 8px;
	line-height: 20px;
	text-decoration: none;
	border: none;
	border-left-width: 0;
	display: none;
}

.photo_upload_block h5 {
	margin-top: 10px;
	font-size: 16px;
	padding-top: 0;
}

.preview_block {
	min-height: 400px;
	max-height: 500px;
	margin-bottom: 20px;
	overflow: hidden;
}

.preview_img {
	overflow: hidden;
	margin-bottom: 5px;
	clear: both;
}

.preview_img img {
	width: 96%;
}

.private_profile {
	font-size: 16px;
}

.profile_edit_block h3 {
	margin-left: 20px;
}

.profile_edit_block .form-actions {
	border-top: none;
	margin-top: 5px;
	padding-top: 0;
}

.publisher_block {
	min-height: 300px;
	max-height: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}

.publisher_desc {
	text-align: left;
	clear: both;
	font-size: 16px;
	margin-top: 20px;	
}

.pull_list_btn {
	margin-right: 5px;
}

.random_block .home_hdr {
	border-left: none;
}

.random_item {
	margin-bottom: 20px;
}

.random_item .item_description {
	line-height: 24px;
}

.search_row {
	min-height: 100px;
	max-height: 150px;
	overflow: hidden;
	margin-bottom: 10px;
}

.search_row h3 {
	margin-top: 0;
	padding-top: 0;
	line-height: 22px;
}

.search_row .desc {
	max-height: 100px;
	overflow: hidden;
}

.search_row .search_img {
	margin-bottom: 10px;
	overflow: hidden;
}

.shop_photo img {
	max-width: 60px;
	overflow: hidden;
	max-height: 60px;
	margin: 4px 3px 1px 0px;
}

.store_hours {
	margin-top: 20px;
}

.store_map_listing {
	font-size: 14px;
}

.store_map_listing h5 {
	font-size: 17px;
	margin-bottom: 2px;
}

.store_map_row {
	margin-bottom: 7px;
}

.store_search_bar {
	padding: 12px;	
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
}

.thisweek h4, .thisweek h4 a {
	font-weight: bold;
	font-size: 19px;
}

.upload_photo .form-actions {
	background: none;
	border-top: none;
	padding: 0 inherit 0 0; 
	margin-bottom: 0;
}

.usr_img {
	margin: 5px 2px 0 0;
}

.well {
	margin-left: 0;
}

ul.library-series li span {
	font-size: 1.1em;
	cursor: pointer;
}

@import "media_min768max979.less";
@import "media_max979.less";
@import "media_max767.less";
@import "media_max480.less";
@import "media_min980.less";
@import "media_min1200.less";

@import (inline) "../css/bootstrap-image-gallery.min.css";
@import (inline) "../css/jquery-ui.custom.min.css";