
@kapow_blue:                #3366CC;
@kapow_red:                 #e30c0c;
@kapow_yellow:              #ffaa00;
@kapow_bg_grade_color1:     #00040c;
@kapow_bg_grade_color2:     #2c539e;
@kapow_white:               #FFFFFF;
@kapow_black:               #000000;

@kapow_h2_color:            #000000;
@kapow_img_brdr_color:      #000000;
@kapow_detail_txt_color:    #78b0e9;
@kapow_fav_lnk_color:       #000000;